<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User Information</h1>
    <p><%= user.userName%></p>
    <p><%= user.userEmail%></p>
  </body>
</html>
