<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User Information</h1>
    <p>This is user page: userID: <%= user.userID %></p>
  </body>
</html>
